body {
  background: #43168B;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.main {
  padding-top: 20px;
  text-align: center;
  width: 339;
}

.maket input {
  width: 338px;
  height: 31px;
  color: #FFFFFF;
  background: #43168B;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

.btn {
  padding-top: 50px;
}

.btn button {
  width: 144px;
  height: 34px;
  background: #FEA133;
}